* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
}

.cell {
    width: 14px;
    height: 14px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
}

#sketchContainer {
    display: flex;
    flex-wrap: wrap;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}